<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated gsm_derived -->
      <package
            uri="http://siena.ibm.com/model/CompositeApplication"
            class="application.Gsm_derivedPackage"
            genModel="model/gsm_derived.genmodel"/>
   </extension>

</plugin>
